

.HL_imgSample {
    display: flex;
}

.HL_imgSample1 {
    height: 60vh;
    width: 400px;
    border-radius: 20px;
    margin: 6px;
}

.HL_imgSample2_sub1 {
    height: 15vh;
    width: 200px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;
    margin: 6px;
    display: flex;
    align-items: center;
}

.HL_imgSample2_sub1 h3 {

}


.HL_imgSample2_sub2 {
    height: 45vh;
    width: 200px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;
    margin: 6px;
}